<head> 
<style>

.topnav {
  overflow: hidden;
  background-color: #e9e9e9;
}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #2196F3;
  color: white;
}

.topnav .search-container {
  float: right;
}

.topnav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

.topnav .search-container button {
  float: right;
  display: block;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .search-container button:hover {
  background: #ccc;
}

.all  {
  background-color: aqua;
  width: 20%;
}
img{
  height: 20vh;
}

</style>
</head>


<h1> Influencers </h1>
{{message}}

<div class="topnav"> 
  <a class="active" href="/users/profile"> Profile </a> 
  <div class="search-container"> 
  <form action="/action_page.php">
      <input type="text" placeholder="Search for username" name="search">
      <button type="submit"><i class="fa fa-search"></i></button>
    </form>
</div>
</div>

{{#each allInfluencers}}
<div class="influencers"> 
    <img src="https://www.hola.com/us/images/0261-106686a09078-1e55db0d67be-1000/horizontal-1150/sascha-barboza.webp" >
    {{!-- <img src="https://www.google.com/search?q=kingjames&hl=es-419&sxsrf=APq-WBv6kkrX7xHfNMPIDHa2c75aUZ_6xg:1651076951508&source=lnms&tbm=isch&sa=X&ved=2ahUKEwjBwcP51LT3AhWtRDABHbosD48Q_AUoAXoECAIQAw&biw=1440&bih=703&dpr=2#imgrc=zPxacuvwp0zbMM"/> --}}
    {{!-- <p>  <img src={{this.profile_pic_url}} /> </p>  --}}
    <p> Username: {{this.username}} </p>
    <p> Biography: {{this.biography}} </p>
    <p> Followers: {{this.follower_count}} </p>
    <p> Following: {{this.following_count}} </p>
    <p> Verified: {{this.is_verified}} </p>
    <p> highlight_reel_count: {{this.highlight_reel_count}} </p>
  
  <div class="all"> 
  <ul> 
  <li>  <a href="/influencers/{{this._id}}"> See reviews </a> </li>
  <li> <a href="/influencers/{{this._id}}/add-review"> add a Review </a> </li>
  <hr /> 
  </ul>
</div>
{{/each}}
