<h1> Influencers </h1>
{{message}}
 
{{#each allInfluencers}}
<div class="influencers"> 
    <img src="https://www.google.com/search?q=sascha+fitness&tbm=isch&ved=2ahUKEwiSiM__i7X3AhUWwikDHXMzCtgQ2-cCegQIABAA&oq=sasc&gs_lcp=CgNpbWcQARgAMgUIABCABDIFCAAQgAQyBQgAEIAEMgUIABCABDIFCAAQgAQyBQgAEIAEMgUIABCABDIFCAAQgAQyBQgAEIAEMgUIABCABDoHCCMQ7wMQJ1DxC1jIEWDPHWgAcAB4AIABWIgBvAKSAQE1mAEAoAEBqgELZ3dzLXdpei1pbWfAAQE&sclient=img&ei=EKlpYpLADZaEp8kP8-aowA0&bih=690&biw=1440&hl=es-419#imgrc=2KkWfWuzt2YTAM"/>
    {{!-- <img src="https://www.google.com/search?q=kingjames&hl=es-419&sxsrf=APq-WBv6kkrX7xHfNMPIDHa2c75aUZ_6xg:1651076951508&source=lnms&tbm=isch&sa=X&ved=2ahUKEwjBwcP51LT3AhWtRDABHbosD48Q_AUoAXoECAIQAw&biw=1440&bih=703&dpr=2#imgrc=zPxacuvwp0zbMM"/> --}}
   <p>  <img src={{this.profile_pic_url}} /> </p> 
    <p> Username: {{this.username}} </p>
    <p> Biography: {{this.biography}} </p>
    <p> Followers: {{this.follower_count}} </p>
    <p> Following: {{this.following_count}} </p>
    <p> Verified: {{this.is_verified}} </p>
    <p> highlight_reel_count: {{this.highlight_reel_count}} </p>
  <ul> 
  <div class="seeall"> 
  <li>  <a href="/influencers/{{this._id}}"> See reviews </a> </li>
  <li> <a href="/users/profile"> Profile </a> </li>
 
 <li> <a href="/influencers/{{this._id}}/add-review"> add a Review </a> </li>
  <hr /> 
 </ul>
</div>
{{/each}}
