
<div class="segundo"> 
 </div>

{{message}}
<li> <a href="/influencers/influencers"> View all influencers</a> </li>
{{#each allInfluencers}}
<div class="texto"> 

    <img src="https://instagram.fvno3-1.fna.fbcdn.net/v/t51.2885-19/263570976_273354718170504_5597971410410838789_n.jpg?stp=dst-jpg_s150x150&_nc_ht=instagram.fvno3-1.fna.fbcdn.net&_nc_cat=1&_nc_ohc=Kjqkwe8ifK4AX8sTL46&edm=ABfd0MgBAAAA&ccb=7-4&oh=00_AT9cPQpIcOUhptaxpj7IOqWbK2RwyoRyWIQ0PhVp9ttdTA&oe=626CE978&_nc_sid=7bff83" alt="image" />
    <p> Username: {{this.username}} </p>
    <p> Fullname: {{this.fullname}} </p>
    <p> Followers: {{this.follower_count}} </p>
    <p> Following: {{this.following_count}} </p>


  <h4> Reviews: </h4>

  {{#each this.reviews}}
  <hr>

  <hr>
    <h5>{{this.comment}}</h5>
    <p> -{{this.user.username}}</p>
  {{/each}}
  <ul> 
 <li> <a href="/influencers/{{this._id}}/add-review"> add a Review </a> </li>

 </ul>
</div>
{{/each}}