{{!-- <h1>{{title}}</h1>
<p>Welcome to {{title}}</p> --}}

<h1> Welcome to InfluRaters</h1>

{{!-- <h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<h4>{{confimation}}</h4>
<p style="color: red">{{message}}</p> --}}
