 <h1> Welcome to InfluRaters</h1>
<html>
<head>
<style>

.profile{
  width: 20%;
 list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  display: block;
  color: rgb(21, 234, 191);
  padding: 8px 16px;
  text-decoration: none;
  align-items: flex-end;
}


li a.active {
  background-color: #04AA6D;
  color: white;
}

li a:hover:not(.active) {
  background-color: #555;
  color: white;
}
</style>
</head>
<body>


<form method="post" action="/users/new-post" enctype="multipart/form-data">
  <label>Title of Post</label>
  <input name="title" />
  <label>Content</label>
  <input name="content" />
  <label>Picture</label>
  <input type="file" name="imageUrl" />
  <button type="submit"> Create Post </button>
</form>



<h3>This is {{foundUser.username}}'s profile</h3>

<p>{{foundUser.username}}'s posts </p>

{{#each allPosts}}
  <h5>{{this.title}}</h5>
  <p>{{this.content}}</p>

{{/each}}


<div class="profile"> 
<ul>
  {{!-- <li><a href="/users/profile/"> Profile </a></li> --}}
  <li><a href="/influencers/influencers"> See all influencers</a></li>
  <li><a href="/users/logout"> Log out </a></li>
</ul>
</div>
</body>
</html>
 
 





     {{!-- <a href="/users/profile"> Go back </a> 
 <a href="/users/profile"> Profile </a> 
 <a href="/influencers/influencers"> View all influencers</a> 
 <a href="/users/logout">Log out</a> --}}



    {{!-- <p> Username: {{this.username._id}} </p>
    <p> Fullname: {{this.fullname}} </p>
    <img src={{this.profile_pic_url._id}} /> 
     --}}


